h1 {
    color: rgb(31, 31, 41);
    text-align: center;
    font-size: 60px;
    font-family: "New Tegomin", serif;
    position: relative;
  }
  
  body {
    background-color: bisque ;
      }
  
  .d-inline-block {
    background-color: #fff4dd;
  }
  
  .col6 {
    background: #fff;
    padding: 5px;
    position: static;
    text-align: center;
    right: 0px;
    top: 10px;
    margin: 0px;
    vertical-align: baseline;
    font-family: "New Tegomin", serif;
  }

  .description:first-letter {text-transform: capitalize};

  .precipitations:first-letter {text-transform: capitalize};
  
  .container {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
      }
      .futureImages {max-width: 50%;}

  .container-md {
    display: flex;
    flex-flow: row;
    row-gap: 30px;
    text-align: center;
    font-family: "New Tegomin", serif;
  }
  
  .cityname {
    font-family: "New Tegomin", serif;
    font-size: 80px;
    text-align: center;
    color: rgb(31, 31, 41);
  }

  #cityname:first-letter {text-transform: capitalize}
  
  .btn-group {
    font-family: "New Tegomin", serif;
  }

  .gitLink {font-family: "New Tegomin", serif;
    display: block;
  margin: 0 auto;
  text-align: center;
position: fixed;
bottom: 10%;
left: 40%;
color: rgb(31, 31, 41)
}
  